<div class="col s12 m4">
  <div class="card z-depth-3 medium sticky-action">
    <div class="card-image waves-effect waves-block waves-yellow">
      <img
        class="activator"
        src="src"
        alt="alt">
      </div>
    <div class="card-content">
      <h2
        class="card-title activator grey-text text-darken-4"
        style="margin-top:-15px;"
      >
      Title <i class="material-icons right">more_vert</i>
      </h2>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">
        Sayısal Elektronik - Çağatay Çalı
        <i class="material-icons right">close</i>
       </span>
       <p>Sayısal Elektronik - Elektrik Elektronik Mühendisliği - Doc. Dr Ünal Kurt</p>
    </div>
    <div class="card-action" style="display:flex;">
      <a href="/dokuman/sayisal-elektronik">Detayına git... </a>
    </div>
  </div>
</div>
