#fab.fixed-action-btn
  a.btn-floating.btn-large.orange.lighten-3
    i.large.material-icons mode_edit
  ul
    li
      a.btn-floating.red
        i.material-icons insert_chart
    li
      a.btn-floating.yellow.darken-1
        i.material-icons format_quote
    li
      a.btn-floating.green
        i.material-icons publish
    li
      a.btn-floating.blue
        i.material-icons attach_file
