<div class="container" style="margin-top: 25px">
  <div class="row">
    <header>
      <div id="search-input"></div>
    </header>
    <script type="text/html" id="hit-template">
      <div class="hit">
        <div class="col s12 m3">
          <div class="card" data-slug="{{doc.slug}}">
           <a href="/dokuman/{{slug}}">
              <div class="card-image truncateC"><img width="245" height="346" src={{thumbnail.url}} alt={{title}} style="opacity:0.4;filter:blur(1px);">
              <span class="card-title truncateC" style="font-weight:300;filter: invert(100%);">{{title}}</span></div>
           </a>
           </div>
        </div>
        <!-- <div class="col s12 m4">
          <div class="card z-depth-3 medium sticky-action">
            <div class="card-image waves-effect waves-block waves-blue">
              <img
                class="activator"
                src={{thumbnail.url}}
                alt={{title}}>
              </div>
            <div class="card-content">
              <h2
                class="card-title activator grey-text text-darken-4"
                style="margin-top:-15px;"
              >
              {{title}} <i class="material-icons right">more_vert</i>
              </h2>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">
                {{title}}
                <i class="material-icons right">close</i>
               </span>
               <p>{{description}}</p>
               <p>Yayınlanma tarihi: {{date}}</p>
               <p>Yayıncı: {{displayName}}</p>
            </div>
            <div class="card-action" style="display:flex;">
              <a href="dokuman/{{slug}}">Detayına git... </a>
            </div>
          </div>
        </div> -->
      </div>
    </script>

    <script type="text/html" id="no-results-template">
      <div id="no-results-message">
        <p>Şu aramanızdan sonuç çıkartamadım <em>"{{query}}"</em> :(</p>
        <a href="." class='clear-all'>Aramayı temizle</a>
      </div>
    </script>

    <div id="hits"></div>

  </div>
</div>
