extends layout

block head
  title= title
  link(rel='canonical', href='https://ders.im/~'+syllabus.slug)
  meta(itemprop='name', content='Ders.im | ' + syllabus.title )
  meta(itemprop='description', content='Ders.im | ' + decodeURI(syllabus.context.slice(0, 120)) )
  meta(name='image', itemprop='image', content='/images/logo.png')
  // Twitter Meta Headers
  meta(property='twitter:card', content='summary_large_image')
  meta(property='twitter:title', content='Ders.im | ' + syllabus.title )
  meta(property='twitter:description', content='Ders.im | ' + decodeURI(syllabus.context.slice(0, 120)) )
  meta(property='twitter:site', content='@getdersim')
  meta(property='twitter:creator', content='@cagataycali')
  meta(property='twitter:image', content='/images/logo.png')
  // Open Graph general (Facebook, Pinterest & Google+)
  meta(property='og:title', content='Ders.im | ' + syllabus.title )
  meta(property='og:description', content='Ders.im | ' + decodeURI(syllabus.context.slice(0, 120)) )
  meta(property='og:image', content='/images/logo.png')
  meta(property='og:url', content='https://ders.im')
  meta(property='og:site_name', content='Ders.im')
  meta(property='og:locale', content='tr')
  meta(property='og:type', content='website')
  script(src='javascripts/ckeditor.js')
  link(src="stylesheets/syllabus.css")
      
block content
  include components/navigation.pug
    
  .container
    .row(style="margin-top:20px")
      .loading.center
        .preloader-wrapper.big.active
          .spinner-layer.spinner-blue
            .circle-clipper.left
              .circle
            .gap-patch
              .circle
            .circle-clipper.right
              .circle
          .spinner-layer.spinner-red
            .circle-clipper.left
              .circle
            .gap-patch
              .circle
            .circle-clipper.right
              .circle
          .spinner-layer.spinner-yellow
            .circle-clipper.left
              .circle
            .gap-patch
              .circle
            .circle-clipper.right
              .circle
          .spinner-layer.spinner-green
            .circle-clipper.left
              .circle
            .gap-patch
              .circle
            .circle-clipper.right
              .circle
      .content(style="display:none")
      .signature(style="margin:20px")
        a(href='/@'+syllabus.userSlug) #{syllabus.displayName} tarafından derlenmiştir.
      .fb-comments(data-href='https://ders.im/~' + syllabus.slug, data-numposts='5' width='100%')
      
    include components/login.pug
    include components/settings.pug
    if isOwner
      #fab.fixed-action-btn
       a.btn-floating.btn-large.purple.accent-3
         i.large.material-icons settings
       ul.clearList
         li.clearList.removeSyllabus
           a.btn-floating.red.darken-1
             i.material-icons remove_circle
         li.clearList
           a.btn-floating.green(href='/ozet/duzenle/'+syllabus.slug)
             i.material-icons edit


      
    
    
           
