/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.btn {
    padding: 0 !important;
}

.modalLink {
  cursor: pointer;
}

.account-icon {
  font-size: 42px !important;
}

h1 {
  font-size: 2em;
}

.waves-effect.waves-blue .waves-ripple {
 /* The alpha value allows the text and background color
 of the button to still show through. */
  background-color: rgba(3, 169, 244, 0.64);
  /*background-color: rgba(121, 85, 72, 0.65);*/
}
